# Django settings
DEBUG=1
SECRET_KEY=your-secret-key

# Database settings
DB_NAME=django_db
DB_USER=django_user
DB_PASSWORD=securepassword
DB_HOST=locahost
DB_PORT=5432
POSTGRES_PASSWORD=securepassword

# Eskiz settings
ESKIZ_LOGIN_URL=https://notify.eskiz.uz/api/auth/login
ESKIZ_SMS_URL=https://notify.eskiz.uz/api/message/sms/send
SMS_EMAIL=example@gmail.com
SMS_PASSWORD=password
SMS_FROM=4546
CALLBACK_URL=http://0000.uz/test.php
BASE_URL=https://api.car-land.uz


MAX_ORDER_AMOUNT=100000000.00

# SMS limit last 24 hours
SMS_LIMIT=10

# SMS hash
APP_SMS_HASH=viT0OR0BRBl

# Tester login settins
TESTER_LOGINS = +998932201004, +998932201005
TESTER_OTP = 1111